@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.alert, .alertt, .alertd, .alerte {
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Warning Alert for Empty Task */
#custAlert.hide {
  background: #ffdb9b;
  border-left: 8px solid #ffa502;
}

/* Warning Alert for Saving Blank Task */
#custAlert1.hide {
  background: #ffdb9b;
  border-left: 8px solid #ffa502;
}

/* Warning Alert for Adding Duplicate Task */
#custAlert2.hide {
  background: #ffdb9b;
  border-left: 8px solid #ffa502;
}

.alert {
  background: #ffdb9b;
  border-left: 8px solid #ffa502;
}

.alertt {
  background: #7afc76;
  border-left: 8px solid #08da01;
}

.alertd {
  background: #ff9160;
  border-left: 8px solid #ce0508;
}

.alerte {
  background: #007bff; 
  border-left: 8px solid #0068d6;
}

.alert.showAlert, .alertt.showAlert, .alertd.showAlert, .alerte.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert.show, .alertt.show, .alertd.show, .alerte.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}

.alert.hide, .alertt.hide, .alertd.hide, .alerte.hide {
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}

.alert .fa-exclamation-circle, .alertt .fa-check-circle, .alertd .fa-trash-alt, .alerte .fa-check-circle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}

.alert .fa-exclamation-circle {
  color: #ce8500;
}

.alertt .fa-check-circle {
  color: #068902;
}

.alertd .fa-trash-alt {
  color: #910002;
}

.alerte .fa-check-circle {
  color: #0068d6; /* Blue color for edit alert */
}

.alert .msg, .alertt .msgt, .alertd .msgd, .alerte .msge {
  padding: 0 20px;
  font-size: 18px;
}

.alert .msg {
  color: #ce8500;
}

.alertt .msgt {
  color: #000000;
}

.alertd .msgd {
  color: #570202;
}

.alerte .msge {
  color: #000000; 
}

/* Close Button for All Alert Elements */
.alert .close-btn, .alertt .close-btnt, .alertd .close-btnd, .alerte .close-btne, .alert .close-btn1, .alert .close-btn2 {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 18px;
  cursor: pointer;
}

.alert .close-btn {
  background: #ffd080;
}

.alertt .close-btnt {
  background: #25e01f;
}

.alertd .close-btnd {
  background: #ff2828;
}

.alerte .close-btne {
  background: #007bff; 
}

.alert .close-btn:hover {
  background: #ffc766;
}

.alertt .close-btnt:hover {
  background: #41c53d;
}

.alertd .close-btnd:hover {
  background: #d44a18;
}

.alerte .close-btne:hover {
  background: #0067d6;
}


.alert .close-btn1,
.alert .close-btn2 {
  background: #ce8500;
}

.alert .close-btn1:hover,
.alert .close-btn2:hover {
  background: #aa6e00;
}

.alert .close-btn .fas,
.alertt .close-btnt .fas,
.alertd .close-btnd .fas,
.alerte .close-btne .fas,
.alert .close-btn1 .fas,
.alert .close-btn2 .fas {
  font-size: 22px;
  line-height: 40px;
}

.alert .close-btn .fas {
  color: #ce8500;
}

.alertt .close-btnt .fas {
  color: #056e01;
}

.alertd .close-btnd .fas {
  color: #9b2c0d;
}

.alerte .close-btne .fas {
  color: #004b9e;
}

.alert .close-btn1 .fas {
  color: #ffd080;
}

.alert .close-btn2 .fas {
  color: #ffd080;
}

.alerte .fa-edit {
  color: #004ea1;
}
